@font-face {
font-display: swap;
font-family: 'Nissan Brand Regular';
font-style: normal;
font-weight: 400;
src: url('https://cdn.jsdelivr.net/gh/nismoto/nismoto.github.io/fonts/NissanBrand.woff2') format('woff2');
}
