@font-face {
font-display: swap;
font-family: 'NissanBrand';
font-style: normal;
font-weight: 400;
src: url('https://cdn.jsdelivr.net/gh/nismoto/nismoto.github.io/fonts/NissanBrand-Regular.woff2') format('woff2');
}
